$primary: #669371;

body {
    font-family: Lato, "Helvetica Neue", Helvetica, Arial, sans-serif;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: Lato, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 700;
}
.complete-header {
    background: linear-gradient(180deg, #41372d 0%, #beab91 100%);
}
.navbar {
    padding-top: 1.5rem;
}
header.masthead {
    position: relative;
    background-size: cover;
    padding-top: 3rem;
    padding-bottom: 3rem;
}
header.masthead .overlay {
    position: absolute;
    background-color: #212529;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    opacity: 0.3;
}
header.masthead h1 {
    font-size: 2.4rem;
}
@media (min-width: 768px) {
    header.masthead {
        padding-top: 4rem;
        padding-bottom: 5rem;
    }
    header.masthead h1 {
        font-size: 3rem;
    }
    .features-icons {
        padding-top: 7rem;
        padding-bottom: 7rem;
    }
    .got-any-questions {
        text-align: right;
    }
}
.showcase .showcase-text {
    padding: 3rem;
}
.showcase .showcase-img {
    min-height: 30rem;
    background-size: cover;
    background-position: center;
}
@media (min-width: 768px) {
    .showcase .showcase-text {
        padding: 7rem;
    }
    .testimonials {
        padding-top: 7rem;
        padding-bottom: 7rem;
    }
    // .call-to-action {
    //     padding-top: 7rem;
    //     padding-bottom: 7rem;
    // }
}
.features-icons {
    padding-top: 3rem;
    padding-bottom: 3rem;
}
.features-icons .features-icons-item {
    max-width: 20rem;
}
.features-icons .features-icons-item .features-icons-icon {
    height: 7rem;
}
.features-icons .features-icons-item .features-icons-icon i {
    font-size: 4.5rem;
}
.features-icons .features-icons-item:hover .features-icons-icon i {
    font-size: 5rem;
}
.testimonials {
    padding-top: 3rem;
    padding-bottom: 3rem;
}
.testimonials .testimonial-item {
    max-width: 18rem;
}
.testimonials .testimonial-item img {
    max-width: 10rem;
}
.call-to-action {
    position: relative;
    background-color: #41372d;
    background-size: cover;
    // padding-top: 3rem;
    // padding-bottom: 3rem;
}
footer.footer {
    padding-top: 4rem;
    padding-bottom: 4rem;
}

.logo {
    width: 130px;
}

.text-primary {
    color: $primary !important;
}
.btn-primary {
    background: #443f3a !important;
    border-color: darken($color: #443f3a, $amount: 5%);
    
    &:hover, &:active {
        border-color: darken($color: #443f3a, $amount: 10%);
    }
}

.btn-secondary {
    background: #88854e;
    border-color: darken($color: #88854e, $amount: 5%);
}
